<div fxLayout fxLayoutAlign="center center">
    <mat-card *ngIf="businessState.error.name !== 'HttpErrorResponse'; else error" fxFlex="100%">
        <mat-card-title [@slideIn]>Businesses Result</mat-card-title>
        <mat-card-content fxLayout="column">
            <ul *ngIf="businessState.businesses">
                <mat-grid-list cols="4" rowHeight="2:1">
                    <mat-grid-tile *ngFor="let business of businessState.businesses.businesses  | paginate: { id: 'server', itemsPerPage: 10, currentPage: page, totalItems: total }">
                        <button mat-button (click)="openBusiness(business)">
                            {{ business.name }}
                            <img mat-card-lg-image [src]="business.main_image">
                        </button>
                    </mat-grid-tile>
                </mat-grid-list>
                <pagination-controls id="server" (pageChange)="pageChanged($event)"></pagination-controls>
            </ul>
        </mat-card-content>
    </mat-card>
    <ng-template #error>
        <mat-card fxFlex="100%">
            <mat-card-title>Please check your interent connectivity</mat-card-title>
        </mat-card>
    </ng-template>
</div>