<mat-sidenav-container>

    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <div>
                <button mat-button (click)="home()">
                    Blabber
                </button>
            </div>

            <div fxFlex fxLayout fxLayoutAlign="flex-end" fxHide.md>
                <ul fxLayout fxLayoutGap="20px" class="navigation-items">

                    <button *ngIf="navigateToDashboard" mat-button (click)="dashboard()">
                        <mat-icon class="icon">dashboard</mat-icon>
                        <span class="label">Dashboard</span>
                    </button>

                    <button *ngIf="!loggedInAccess.loggedBefore" mat-button (click)="login()">
                        <mat-icon class="icon">transit_enterexit</mat-icon>
                        <span class="label">Log in</span>
                    </button>

                    <button *ngIf="loggedInAccess.loggedBefore" mat-button (click)="home()">
                        <mat-icon class="icon">home</mat-icon>
                        <span class="label">Home</span>
                    </button>

                    <button *ngIf="loggedInAccess.loggedBefore" mat-button (click)="profile()">
                        <mat-icon class="icon">account_circle</mat-icon>
                        <span class="label">Profile</span>
                    </button>

                    <button *ngIf="loggedInAccess.loggedBefore" mat-button (click)="logout()">
                        <mat-icon class="icon">exit_to_app</mat-icon>
                        <span class="label">Log out</span>
                    </button>


                    <button *ngIf="!loggedInAccess.loggedBefore" mat-button (click)="signup()">
                        <mat-icon class="icon">account_circle</mat-icon>
                        <span class="label">Sign up</span>
                    </button>

                    <!-- <li>
                <a >
                    <mat-icon class="icon">home</mat-icon>
                    <span class="label">Home</span>
                </a>
              </li>
              <li>
                  <a>
                      <mat-icon class="icon">dashboard</mat-icon>
                      <span class="label">Dashboard</span>
                  </a>
                </li>
              <li>
                  <a>
                    <mat-icon class="icon">input</mat-icon>
                    <span class="label">LogOut</span>
                   </a>
              </li> -->
                </ul>
            </div>
        </mat-toolbar>
        <main>
        </main>
    </mat-sidenav-content>
</mat-sidenav-container>