<div fxLayout="row" fxLayoutAlign="center center" class="row-height image">
  <mat-card [@slideIn] fxFlex="30%">
    <form [formGroup]="siginInForm">
      <mat-card-title>Login</mat-card-title>
      <mat-card-content fxLayout="column">
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email" #email>
          </mat-form-field>
          <div *ngIf="siginInForm.controls['email'].invalid && (siginInForm.controls['email'].dirty || siginInForm.controls['email'].touched)"
            class="alert alert-danger">
            <div *ngIf="siginInForm.controls['email'].errors.required">
              Email is required.
            </div>
            <div *ngIf="siginInForm.controls['email'].errors.email">Email must be a valid email address</div>
          </div>
        </div>
        <div class="form-group">
          <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password" #password>
          </mat-form-field>
          <div *ngIf="siginInForm.controls['password'].invalid && (siginInForm.controls['password'].dirty || siginInForm.controls['password'].touched)"
            class="alert alert-danger">
            <div *ngIf="siginInForm.controls['password'].errors.required">Password is required.</div>
            <div *ngIf="siginInForm.controls['password'].errors.minlength">Password must be at least 6 characters.</div>
          </div>
          <div *ngIf="this.state.user && this.state.user.errors" class="alert alert-danger">{{this.state.user.errors}}</div>
        </div>
      </mat-card-content>
      <div *ngIf="state.loading == false;else loadingSpinner">
        <div class="form-group">
          <button (click)="signIn(email.value, password.value)" class="btn btn-primary" [disabled]="siginInForm.pristine || siginInForm.invalid">Sign
            in</button>
          <a routerLink="signup">
            <button class="btn btn-secondary">Register</button>
          </a>
        </div>
      </div>
      <ng-template #loadingSpinner>
        <mat-spinner strokeWidth=5 diameter=40> </mat-spinner>
      </ng-template>
    </form>
  </mat-card>
</div>