img {
    display: inline-block;
    width: 250px;
    height: 250px;
}

.user-img {
    border-radius: 50%;
    height: 50px;
    width: 50px;
}

button {
    margin-top: 5px;
}

p {
    margin-left: 15px;
}